/* #=#=# RESET #=#=# */

html {
  scroll-behavior: smooth;
}

* { 
  box-sizing: border-box; 
} 

body {
  color: var(--textcolor-body);
  background-color: var(--white);
  padding: 0px;
  margin: 0px;
}

a {
    transition: var(--transition);
    color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, 
p, ol, ul, blockquote {
  margin: 0px;
}

/* =============================================================== */

/* #=#=# COLORS #=#=# */
:root {
  /* Black & White */
  --black: #333;
  --white: #FFF;
  
  /* Text */
  --textcolor-heading: var(--black);
  --textcolor-body: var(--black);

  /* Neutral */
  --neutral-0: #FAFAFA;
  --neutral-1: #d3dad9;
  --neutral-2: #a7b4b3;
  --neutral-3: #7c8f8e;
  --neutral-4: #506968;
  --neutral-5: #244442;
  --neutral-6: #1d3635;
  --neutral-7: #162928;
  --neutral-8: #0e1b1a;
  --neutral-9: #070e0d;

  /* Interactive */
  --primary-0: #ebf0eb;
  --primary-1: #d6e1d7;
  --primary-2: #aec2b0;
  --primary-3: #85a488;
  --primary-4: #5d8561;
  --primary-5: #346739;
  --primary-6: #2a522e;
  --primary-7: #1f3e22;
  --primary-8: #152917;
  --primary-9: #0a150b;
  
  /* Secondary */
  --secondary-0: #e7f7ee;
  --secondary-1: #cff0de;
  --secondary-2: #9ee0bd;
  --secondary-3: #6ed19b;
  --secondary-4: #3dc17a;
  --secondary-5: #0DB259;
  --secondary-6: #0a8e47;
  --secondary-7: #086b35;
  --secondary-8: #054724;
  --secondary-9: #032412;
  
}

/* =============================================================== */

/* #=#=# UNITS #=#=# */
:root {
  /* Primitives used for spacing properties like gap, margin, padding, etc. */
  --xxl: max(8rem, 10vw);
  --xl:  max(4rem, 5vw);
  --l:   max(2rem, 2.5vw);
  --m:   max(1rem, 1.25vw);
  --s:   max(0.5rem, 0.75vw);
  --xs:  max(0.25rem, 0.375vw);
  --xxs: max(0.125rem, 0.1425vw);
  --zero: 0px;

  /* Padding for element types */
  --padding-section: var(--xl) 5vw;
  --padding-inline: var(--xs) var(--s);

  /* Border Units */
  --br-max: 999999px;
  --br-xxl: var(--xxl);
  --br-xl:  var(--xl);
  --br-l:   var(--l);
  --br-m:   var(--m);
  --br-s:   var(--s);
  --br-xs:  var(--xs);
  --br-xxs: var(--xxs);

  --border-l: 4px solid currentcolor;
  --border-m: 2px solid currentcolor;
  --border-s: 1px solid currentcolor;

  /* Width Units */
  --maxwidth-xxl: 96rem;
  --maxwidth-xl:  72rem;
  --maxwidth-l:   45rem;
  --maxwidth-m:   36rem;
  --maxwidth-s:   27rem;
  --maxwidth-xs:  18rem;
  --maxwidth-xxs: 9rem;

  --maxwidth-page: 72rem;
  --maxwidth-content: 720px;
  --content-wide: 1440px;
  --content-regular: 1200px;
  --content-thin: 650px;

  /* Time units */
  --time-l: 0.4s;
  --time-m: 0.2s;
  --time-s: 0.1s;

  /* Motion */
  --transition-l: all 0.4s;
  --transition-m: all 0.2s;
  --transition-s: all 0.1s;
  
  /* Z Index */
  --z-max: 999999px;
  --z-5: 5;
  --z-4: 4;
  --z-3: 3;
  --z-2: 2;
  --z-1: 1;
  --z-0: 0;  
}

.maxwidth-m { max-width: var(--maxwidth-m); }

/* ============================================================== */

/* #=#=# TYPOGRAPHY #=#=# */
:root {
  --fontfamily-serif: serif;
  --fontfamily-sans: "Source Sans 3", sans-serif;
  --fontfamily-mono: monospace;

  --lineheight-heading: 1.1;
  --lineheight-body: 1.5;

  --fontweight-bl: 800; /* Black */
  --fontweight-b:  700; /* Bold */
  --fontweight-sb: 600; /* Semi Bold */
  --fontweight-m:  500; /* Medium */
  --fontweight-r:  400; /* Regular */
  --fontweight-l:  300; /* Light */
}

/* Reset */
h1, h2, h3, h4, h5, h6,
p, article, ul, ol {
  margin: 0px;
}
body {
  font-family: var(--fontfamily-sans);
  font-size: 1.2rem;
  color: var(--textcolor-body);
}

/* Display styles */
.display-1, .display-2, .display-3 {
  font-family: var(--fontfamily-sans);
  line-height: var(--lineheight-heading);
  font-weight: bold;
}

.display-1 {font-size: clamp(4.2rem, 4vw, 5.6rem);}
.display-2 {font-size: clamp(3.2rem, 3vw, 4.2rem);}
.display-3 {font-size: clamp(2.986rem, 2.5vw, 3.2rem);}

/* Heading Styles */
.heading-1, .heading-2, .heading-3,
.heading-4, .heading-5, .heading-6 {
  line-height: var(--lineheight-heading);
}

.heading-1, .heading-2, .heading-3 {font-weight: bold;}
.heading-4, .heading-5, .heading-6 {font-weight: 600;}

.heading-1, .h1 {font-size: 2.5rem;}
.heading-2, .h2 {font-size: 2rem;}
.heading-3, .h3 {font-size: 1.75rem;}
.heading-4, .h4 {font-size: 1.5rem;}
.heading-5, .h5 {font-size: 1.25rem;}
.heading-6, .h6 {font-size: 1.15rem;}

/* Body styles */
.body-l, .body-m, .body-s, .body-xs {
  line-height: var(--lineheight-body);
  font-weight: var(--fontweight-r);
}

.body-l {font-size: 1.35rem;}
.body-m {font-size: 1.2rem;}
.body-s {font-size: 1rem;}
.body-xs {font-size: 0.8rem}

@media screen and (max-width: 768px) {
  .display-1 {font-size: 3.5rem;}
  .display-2 {font-size: 3rem;}
  .display-3 {font-size: 2.5rem;}

  .heading-1, .h1 {font-size: 2.027rem;}
  .heading-2, .h2 {font-size: 1.802rem;}
  .heading-3, .h3 {font-size: 1.602rem;}
  .heading-4, .h4 {font-size: 1.424rem;}
  .heading-5, .h5 {font-size: 1.266rem;}
  .heading-6, .h6 {font-size: 1.125rem;}
}

/* Alignment */
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/* =============================================================== */

/* #=# FLEXBOX #=# */
/* Generic flex classes*/
.f-col, .f-row {
  display: flex;
  gap: var(--m);
  flex-wrap: wrap;
}

.f-col { flex-direction: column; }
.f-row { flex-direction: row; }

/* Align items "start" */
.f-start-start,  .f-s-s { align-items: flex-start; justify-content: flex-start; }
.f-start-center, .f-s-c { align-items: flex-start; justify-content: center; }
.f-start-end,    .f-s-e { align-items: flex-start; justify-content: flex-end; }
.f-start-between, .f-s-b { align-items: flex-start; justify-content: space-between; width: 100%;}
.f-start-around { align-items: flex-start; justify-content: space-around; width: 100%;}
.f-start-evenly { align-items: flex-start; justify-content: space-evenly; width: 100%;}

/* Align items "center" */
.f-center-start,   .f-c-s { align-items: center; justify-content: flex-start; }
.f-center-center,  .f-c-c { align-items: center; justify-content: center; }
.f-center-end,     .f-c-e { align-items: center; justify-content: flex-end; }
.f-center-between, .f-c-b { align-items: center; justify-content: space-between; width: 100%;}
.f-center-around  { align-items: center; justify-content: space-around; width: 100%;}
.f-center-evenly  { align-items: center; justify-content: space-evenly; width: 100%;}

/* Align items "end" */
.f-end-start,   .f-e-s { align-items: flex-end; justify-content: flex-start; }
.f-end-center,  .f-e-c { align-items: flex-end; justify-content: center; }
.f-end-end,     .f-e-e { align-items: flex-end; justify-content: flex-end; }
.f-end-between, .f-e-b { align-items: flex-end; justify-content: space-between; width: 100%;}
.f-end-around  { align-items: flex-end; justify-content: space-around; width: 100%;}
.f-end-evenly  { align-items: flex-end; justify-content: space-evenly; width: 100%;}

/* Flex shorthand classes where [-label] is applied to align-items and justify-content */
.f-start, .f-s { align-items: start; justify-content: start; }
.f-center, .f-c { align-items: center; justify-content: center; }
.f-end, .f-e { align-items: end; justify-content: end; }

/* Modifying classes */
.f-nowrap {flex-wrap: nowrap}
.f-wrap { flex-wrap: wrap;}

/* =============================================================== */

/* #=# GRIDS #=# */
/* Generic grid classes */
.grid,
.g-col-1, .g-col-2,
.g-col-3, .g-col-4 {
  display: grid;
  gap: var(--l);
  width: 100%;
  overflow-wrap: break-word;
}

/* Generic grid column controller classes */
.g-col-1 { grid-template-columns: repeat(1, 1fr); }
.g-col-2 { grid-template-columns: repeat(2, 1fr); }
.g-col-3 { grid-template-columns: repeat(3, 1fr); }
.g-col-4 { grid-template-columns: repeat(4, 1fr); }

/* Basic media queries */
@media screen and (max-width: 1024px) {
  .g-col-2, .g-col-3 { grid-template-columns: 1fr; }
  .g-col-4 { grid-template-columns: 1fr 1fr; }
}

@media screen and (max-width: 768px) {
  .g-col-4 { grid-template-columns: 1fr; }
}

/* =============================================================== */

/* #=# GAPS #=# */
.gap-xxl, .g-xxl { gap: var(--xxl); }
.gap-xl, .g-xl  { gap: var(--xl); }
.gap-l, .g-l   { gap: var(--l); }
.gap-m, .g-m   { gap: var(--m); }
.gap-s, .g-s   { gap: var(--s); }
.gap-xs, .g-xs  { gap: var(--xs); }
.gap-xxs, .g-xxs { gap: var(--xxs); }

/* =============================================================== */

/* #=#=# WRAPPERS #=#=# */

/* Content wrappers */
.main-wrap,
.section-wrap,
.content-wrap,
.content-thin {
  display: flex;
  flex-direction: column;
  gap: var(--xl);
  width: 100%;
}

.main-wrap {
  margin-top: var(--xl);
  padding: 0px;
}

@media screen and (min-width: 768px) {
  .main-wrap {
    margin-top: var(--l);
    padding: 1rem;
  }
}

.section-wrap {
    gap: 1rem;
    padding: var(--padding-section);
}

.content-wrap {
    max-width: var(--content-regular);
    margin: 0 auto;
}

.content-thin {
  max-width: var(--content-thin);
  margin: 0 auto;
}

/* List wrappers */
.list-wrap,
.list-wrap-col,
.list-wrap-row {
    display: flex;
    padding: 0px;
    list-style: none;
}

.list-wrap,
.list-wrap-col {
    flex-direction: column;
    gap: var(--s);
}

.list-wrap-row {
    flex-direction: row;
    gap: var(--m);
}

/* #=#=# BENTO BOX #=#=# */
/* Includes styling for a simple bento-box style element */

.bento {
  display: flex;
  flex-direction: column;
  gap: var(--m);
  padding: var(--m);
  color: inherit;
  background-color: var(--white);
  border-radius: var(--s);
}

.bento.primary {
  color: var(--white);
  background-color: var(--primary-5);
}

.bento.secondary {
  color: var(--white);
  background-color: var(--secondary-5);
}

.bento.l,
.bento.large {
  gap: var(--l);
  padding: var(--l);
}

.bento.s,
.bento.small {
  gap: var(--s);
  padding: var(--s);
  border-radius: var(--xs);
}

@media screen and (min-width: 768px){
  .bento {
    padding: var(--l);
  }
}
/* === ANIMATIONS === */
:root {
  --fadeInOnLoad: fadeInOnLoadAnimation 0.5s ease both; /* No animation delay, add that per element */
}

@keyframes fadeInOnLoadAnimation {
  0% {opacity: 0; transform: scale(0.97); transform-origin: center;}
  100% {opacity: 1; transform: scale(1); transform-origin: center;}
}

/* Atomic Classes */
.white { color: var(--white) !important; }
.primary-5 {color: var(--primary-5);}

.bg-primary-0 { background-color: var(--primary-0) }
.bg-primary-1 { background-color: var(--primary-1) }
.bg-primary-2 { background-color: var(--primary-2) }
.bg-primary-3 { background-color: var(--primary-3) }
.bg-primary-4 { background-color: var(--primary-4) }
.bg-primary-5 {
  background-color: var(--primary-5);
  color: var(--white)
}

.bg-neutral-0 { background-color: var(--neutral-0); }

.br-xxs { border-radius: var(--xxs) }
.br-xs { border-radius: var(--xs) }
.br-xs { border-radius: var(--s) }
.br-m { border-radius: var(--m) }
.br-l { border-radius: var(--l) }
.br-xl { border-radius: var(--xl) }
.br-xxl { border-radius: var(--xxl) }

.inline-bento {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: fit-content;
  gap: var(--s);
  padding: var(--xs) var(--s);
  border-radius: var(--xs);
}

.overline {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 1.15rem;
  letter-spacing: 0.05rem;
  line-height: 110%;
  text-transform: uppercase;
}


/* === Icons === */

.icon-s {
  max-width: 100%;
  width: var(--s);
  height: var(--s);
  object-fit: contain;
}

.icon-m {
  max-width: 100%;
  width: var(--m);
  height: var(--m);
  object-fit: contain;
}


/* ### Button Link ### */
.button-link, .button-link-s {
  background-color: var(--secondary-5);
  color: var(--white);
  font-size: 1.2rem;
  font-weight: bold;;
  line-height: 1.1;
  letter-spacing: 0.5px;
  transition: all 0.2s;
  text-decoration: none;
  padding: var(--m);
  border-radius: var(--xs);
  width: max-content;
  min-width: 220px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: var(--s);
  box-shadow: 0px var(--xs) var(--xs) rgba(30, 30, 30, 0.1), 0px 0px var(--xs) rgba(30, 30, 30, 0.1);
  animation: attentionSeeker both infinite 5s ease-in-out;
}

.button-link:hover, .button-link-s:hover {
  background-color: var(--secondary-6);
  color: var(--white);
  text-decoration: none;
  transform: scale(1.02);
  animation: none;
}

.button-link-s {
  padding: var(--s);
  min-width: 110px;
}

.button-link.fullwidth {
  width: 100%;
}

.button-link svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.text-link {
  color: var(--primary-5);
}

.footer-link {
  text-decoration: none;
  color: inherit;
}

.footer-link {
  color: var(--white)
}

.image-link {
  overflow: hidden;
  border-radius: var(--xs);
}

.image-link img {
  transition: transform 0.2s;
  width: 100%;
}

.image-link:hover img {
  transform: scale(1.05);
}

/* ### IMAGE ### */
img {
  max-width: 100%;
  object-fit: cover;
}

.block-image {
  display: block;
  border-radius: var(--br-xs);
  margin-bottom: var(--s); 
}

/* Logo */
.logo {
  max-width: 100%;
  height: 1.5rem;
  width: auto;
  object-fit: contain;
}

.trust-logo {
  max-width: 100%;
  height: var(--l);
  width: auto;
  object-fit: contain;
}

/* Animation */
@keyframes attentionSeeker {
  0%{ background-color: var(--secondary-5); }
  40% { background-color: var(--secondary-5); transform: scale(1); }
  50%{ background-color: var(--secondary-4); transform: scale(1.02); }
  60%{ background-color: var(--secondary-5); transform: scale(1); }
  100%{ background-color: var(--secondary-5); }
}

@keyframes bounce {
  0%{ transform: translateY(0); }
  40%{ transform: translateY(0); }
  50% { transform: translateY(-0.15rem); }
  60%{ transform: translateY(0); }
  100%{ transform: translateY(0); }
}

.bounce {
  animation: bounce both infinite 4s ease-in-out;
}



/* ### Accordion ### */

/* Functionality */
.acc-drawer input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.acc-expander {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: grid-template-rows 0.5s;
}

.acc-drawer input:checked ~ .acc-expander {
    grid-template-rows: 1fr;
}

.acc-content {
  min-height: 0;
  transition: visibility 0.5s;
  visibility: hidden;
}

.acc-drawer input:checked ~ .acc-expander .acc-content {
  visibility: visible;
}

/* Styles and Layout */
.acc {
  display: flex;
  flex-direction: column;
  gap: var(--xs);
  width: 100%;
  color: var(--white) !important;
}

.acc-label {
  background-color: var(--primary-4);
  color: var(--white);
  width: 100%;
  border-radius: var(--xs);
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--m);
}

input:checked + .acc-label {
  background-color: var(--primary-4);
  border-radius: var(--xs) var(--xs) 0 0;
}

.acc-label::after {
  content: "\00D7";
  text-align: center;
  transform: rotate(45deg);
  transition: transform 0.5s;
  font-weight: bold;
  font-size: 1.2rem;
}

.acc-drawer input:checked + .acc-label::after {
  transform: rotate(0deg);
}

.acc-expander {
  background-color: var(--primary-4);  
  border-radius: 0 0 var(--xs) var(--xs);
}

.acc-content {
  display: flex;
  flex-direction: column;
  gap: var(--m);
}

.acc-content ul,
.acc-content ol {
  padding-left: calc(2 *var(--m));
}

.acc-content > * {
  padding: 0 var(--m);
}

.acc-content > :first-child {
  padding-top: var(--m);
}

.acc-content > :last-child {
  padding-bottom: var(--m);
}

.acc-close {
  cursor: pointer;
  padding: var(--s) var(--m);
  font-size: 0.9rem;
}

.decorative-border-mask-wrap { position: relative; }

.decorative-border-mask-top,
.decorative-border-mask-bottom {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  max-width: 100%;
  height: auto;
}
.decorative-border-mask-top { top: 0; }
.decorative-border-mask-bottom { bottom: 0;  transform: rotate(180deg)}